@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope{
    font-family: "Manrope", sans-serif;
}

button{
    transition: 0.5s;
}

.card{
    transition: 0.5s;
}

button:hover,
.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}
